<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/cm_biaoqing/bq_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{56,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,740},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,798},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,856},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,914},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,681},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,614},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,315},{56,58}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,253},{58,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,371},{55,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,739},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,375},{58,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,797},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,855},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,66},{62,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,913},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,313},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,555},{57,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,192},{59,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,435},{58,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,189},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,66},{60,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,128},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,63},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,495},{56,58}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{56,60}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,61}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{56,60}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,61}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,972},{27,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,130},{60,60}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,255},{58,58}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,500},{56,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,59}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,128},{59,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,1},{59,60}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,61}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,561},{59,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,192},{61,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,247},{56,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>res/UI/cm_biaoqing/bq_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,681},{57,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cm_biaoqing.png</string>
			<key>realTextureFileName</key>
			<string>cm_biaoqing.png</string>
			<key>size</key>
			<string>{256,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>