<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/cm_mainIcons/7rjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1},{81,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/alipayIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,655},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/UI/cm_mainIcons/baihuaxianzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,140},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpai_war_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,749},{55,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpai_war_timer_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{194,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,49}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpaiIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,597},{59,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpaiIcon_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,629},{57,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpaiIcon_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,159},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpaimagicfire_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,583},{55,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/bangpaiyaoqingIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,699},{55,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/beibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,464},{69,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chenghao_tu.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chibangIcon_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,476},{70,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chongwufuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,156},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chongwujinhuaIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,181},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chongwushengjiIcon_cm_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,217},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chongwuxuemaiIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,202},{81,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chongwuxunfangIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,220},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chuangguan_tubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,551},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/chuangguan_tubiao_little.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,598},{55,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/cichong.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,317},{69,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>res/UI/cm_mainIcons/cm_bangpai_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,604},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/cross_server_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,312},{81,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/dengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,162},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/diaoyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,407},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/duanzao.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,382},{69,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/duihuanhaoli.PNG</key>
			<dict>
				<key>frame</key>
				<string>{{479,81},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/faction_war_button_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,455},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/fahongbao_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,603},{59,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/friendgift_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,103},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/fuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,526},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,449},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/gerenleita.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,368},{81,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/guaji_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,671},{57,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/guaji_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,675},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>
			<key>res/UI/cm_mainIcons/guajiclose_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,602},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/guajiclose_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,693},{60,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,66}</string>
			</dict>
			<key>res/UI/cm_mainIcons/hechengbutton.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,583},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/heroheadcell1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,618},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>res/UI/cm_mainIcons/horseStrenIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,312},{81,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/huodong_yaoqianshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,504},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/hurt_menuButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,69},{58,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/husongshenshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,360},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/jiaohao_tu.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,232},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>res/UI/cm_mainIcons/jieduanjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{82,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/jinengshuIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,177},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/UI/cm_mainIcons/jingji.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,654},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/jp_chongkaifubenIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,381},{81,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/kunlunshan.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,464},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lianxudenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,140},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/limitBuyBtn_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,314},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lingshou_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,725},{58,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/linqi_tubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,366},{81,71}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lixianjingyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,81},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lookingforpet_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,622},{69,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lundaoIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,283},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lvdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,443},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>res/UI/cm_mainIcons/lvdian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,148},{36,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>
			<key>res/UI/cm_mainIcons/mainIcn_cangbaotu.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,542},{65,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,58}</string>
			</dict>
			<key>res/UI/cm_mainIcons/mainIcn_feixian.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,236},{81,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/marriage_card_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,303},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/marriage_request_card_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,81},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/marriage_send_card_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,159},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/marriage_start_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,120},{81,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>res/UI/cm_mainIcons/meirqiandao.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,309},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/MonsterHead2.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,398},{71,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/newxitong_roundButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,662},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/UI/cm_mainIcons/paihangbang_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,527},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/pata.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,462},{69,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/payType_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{368,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,66}</string>
			</dict>
			<key>res/UI/cm_mainIcons/petheadcell1.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,390},{73,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>res/UI/cm_mainIcons/petHuanhuaIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/petSkyBookIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,331},{81,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/privilegeCard_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,241},{77,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/qqIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,710},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/UI/cm_mainIcons/qqZone.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,719},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/UI/cm_mainIcons/qunxianzhengba.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{81,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,80}</string>
			</dict>
			<key>res/UI/cm_mainIcons/rchangBoss.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,80},{84,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,384},{69,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shengjiefubenIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,434},{81,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shengjiezhuangbeijiIcon_cm_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1},{81,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shenjiemijing_Button.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{81,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shenqi_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,527},{57,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shenqi_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,619},{59,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shenshou_hu_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,284},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shenshou_hu_stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,537},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shimenrenwuIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,333},{81,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shouchong.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,479},{71,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shoudongyunbiaoIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,539},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/shoudongyunbiaoIcon_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,536},{80,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/suohuianjian_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,50},{34,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,39}</string>
			</dict>
			<key>res/UI/cm_mainIcons/systemIcon_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,591},{60,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/teamyaoqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,572},{55,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/tiaozhanlingmo_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,294},{82,72}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/tisheng_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,736},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/tisheng_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,543},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/tuichu_Button_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,653},{55,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/tuichu_Button_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,683},{58,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,388},{72,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/wanfa_cangbaotu.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,245},{84,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/wanfa_yinyongshilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,120},{81,81}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>res/UI/cm_mainIcons/weihudanyuanIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,80},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/weiwoduxian_bangzhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,159},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/weiwoduxian_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/weixinCircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,745},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/UI/cm_mainIcons/weixinIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,787},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/UI/cm_mainIcons/welfare_change_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,234},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/windsMainIconBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,69},{112,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,69}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xiangqianfubenIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,453},{81,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,68}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xianhua_shop_btn_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,439},{81,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,66}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xianhua_shop_btn_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,80},{81,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xianyuan_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,688},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xilianzhuangbeiIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,164},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xinfu.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,533},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xinyoujian_roundButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,730},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xitongyoujian_roundButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,520},{81,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/xiuxianlilian_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,236},{81,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/yiduyoujian_roundButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,86},{49,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>
			<key>res/UI/cm_mainIcons/youjian_roundButton_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,756},{55,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>res/UI/cm_mainIcons/youjian_roundButton_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,638},{59,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/yuandian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,388},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>res/UI/cm_mainIcons/yuandian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,405},{36,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,27}</string>
			</dict>
			<key>res/UI/cm_mainIcons/yuekatequan_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1},{80,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/yunbiao_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,453},{71,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zaixianjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1},{80,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zhanweiqianghuahuaIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,258},{81,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zhuangbeicuilianIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,237},{81,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zhuazi.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,1},{100,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zhuoguei_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,405},{69,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zhuzhan_Icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,578},{58,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zidongxunluText.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,120},{120,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,22}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zidongyunbiaoIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,654},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zidongyunbiaoIcon_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,474},{80,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,64}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zuoqiIcon_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,608},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/UI/cm_mainIcons/zuoqiIcon_sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,507},{63,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cm_mainIcons.png</string>
			<key>realTextureFileName</key>
			<string>cm_mainIcons.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>