<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ditu_shijie/zhangjie_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1},{179,130}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,133},{154,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,272},{178,123}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1},{180,128}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{177,125}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,183},{180,123}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{177,105}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,283},{178,116}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
			<key>res/UI/ditu_shijie/zhangjie_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{178,142}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ditu_shijie.png</string>
			<key>realTextureFileName</key>
			<string>ditu_shijie.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>