<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/faction_plant/factiontask_debug.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,572},{78,98}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/faction_plant/factiontask_kill.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,558},{105,91}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/faction_plant/factiontask_plant.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,296},{90,97}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/faction_plant/factiontask_steal.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,651},{83,97}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/faction_plant/factiontask_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,533},{87,93}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/faction_plant/plant_bluebar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,147},{82,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,9}</string>
			</dict>
			<key>res/UI/faction_plant/plant_bluebar_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,147},{84,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,11}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_bg_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,554},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_flag_bug.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,593},{72,84}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_flag_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,409},{44,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,59}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_flag_outfire.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,388},{81,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_flag_remove.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,474},{80,78}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_flag_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,574},{77,63}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_btn_flag_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,388},{87,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_gain_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,486},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>res/UI/faction_plant/plant_gain_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,584},{34,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,26}</string>
			</dict>
			<key>res/UI/faction_plant/plant_gain_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,520},{33,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>res/UI/faction_plant/plant_guard_model_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{130,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,144}</string>
			</dict>
			<key>res/UI/faction_plant/plant_land_closed.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,350},{126,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,78}</string>
			</dict>
			<key>res/UI/faction_plant/plant_land_opened.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,147},{167,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,107}</string>
			</dict>
			<key>res/UI/faction_plant/plant_land_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,478},{113,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,71}</string>
			</dict>
			<key>res/UI/faction_plant/plant_land_selected2.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,627},{113,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,71}</string>
			</dict>
			<key>res/UI/faction_plant/plant_magicfire_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,233},{20,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,25}</string>
			</dict>
			<key>res/UI/faction_plant/plant_magicfire_outfire.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,553},{29,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,31}</string>
			</dict>
			<key>res/UI/faction_plant/plant_model_magicfire_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,315},{117,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,131}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_fruit_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,612},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,44}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_10001.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,179},{160,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,177}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_10002.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1},{176,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,186}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_10003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{159,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,174}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_10004.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,316},{137,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,168}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_10005.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{190,191}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,192}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_20001.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,451},{105,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,111}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_20002.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,697},{88,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,106}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_20003.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,485},{87,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,98}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_20004.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,383},{89,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,98}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_20005.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,434},{97,104}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,104}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_30001.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,341},{128,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,108}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_30002.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,135},{150,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,167}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_30003.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,135},{136,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,146}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_30004.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,273},{114,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,138}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed_tree_30005.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,193},{120,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,144}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed10045.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,341},{66,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,47}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed3201.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,633},{60,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,67}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed3202.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,503},{67,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,54}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed3203.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,434},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed3204.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,373},{69,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,53}</string>
			</dict>
			<key>res/UI/faction_plant/plant_seed99999.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,632},{73,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,67}</string>
			</dict>
			<key>res/UI/faction_plant/plant_state_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,652},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,44}</string>
			</dict>
			<key>res/UI/faction_plant/plant_state_bug.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,296},{73,90}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_state_water.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,287},{54,84}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/plant_opr_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{508,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{508,132}</string>
			</dict>
			<key>res/UI/faction_plant/factiontask_donater.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,486},{104,99}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/faction_plant/ui_bangpai_biaozhi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,587},{94,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,108}</string>
			</dict>
			<key>res/UI/faction_plant/ui_bangpai_biaozhi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,287},{94,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,108}</string>
			</dict>
			<key>res/UI/faction_plant/ui_bangpai_biaozhi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,389},{94,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,108}</string>
			</dict>
			<key>res/UI/faction_plant/ui_bangpai_shachong.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,522},{72,84}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/faction_plant/ui_icon_bangpai_chanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,477},{80,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_icon_bangpai_huoba.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,554},{76,80}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_icon_bangpai_yanhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,471},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_jinbi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,444},{76,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_jinbi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,629},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_jingyan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,273},{75,62}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_jingyan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,548},{68,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_neidan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,596},{74,64}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_neidan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,470},{69,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_yuanbao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,193},{78,62}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/faction_plant/ui_zhongzi_yuanbao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,557},{70,76}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>faction_plant.png</string>
			<key>realTextureFileName</key>
			<string>faction_plant.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>