<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bishang_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>bisheng_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,145},{74,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{74,70}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>bu_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,145},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{76,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>cq_cloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>cq_scissor.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>cq_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{140,141}</string>
            </dict>
            <key>cq_tan.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,140},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>jiandao_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,145},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{76,60}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>pinshou_canquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,145},{147,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{147,81}}</string>
                <key>sourceSize</key>
                <string>{159,85}</string>
            </dict>
            <key>shengli_canquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,140},{151,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{151,83}}</string>
                <key>sourceSize</key>
                <string>{159,85}</string>
            </dict>
            <key>shibai_canquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{151,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{151,81}}</string>
                <key>sourceSize</key>
                <string>{159,85}</string>
            </dict>
            <key>shitou_caiquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,145},{66,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{66,72}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>woyaojinb_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>woyaojingyan_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>woyaoqianneng_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huodong_chuangguan03.png</string>
            <key>size</key>
            <string>{984,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8eec7c8705fcf34f7ef462e8d84951f:c5798355032f2879dd2e16e1784ded74:7851ed57241ce9238efa27d33714f412$</string>
            <key>textureFileName</key>
            <string>huodong_chuangguan03.png</string>
        </dict>
    </dict>
</plist>
