<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_lingqijuanxian/lingqijuanxian_baiseqiu_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>res/UI/ui_lingqijuanxian/lingqijuanxian_heiseqiu_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>res/UI/ui_lingqijuanxian/lingqijuanxian_lanseqiu_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>res/UI/ui_lingqijuanxian/lingqijuanxian_lvseqiu_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>res/UI/ui_lingqijuanxian/lingqijuanxian_ziseqiu_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lingqijuanxian.png</string>
			<key>realTextureFileName</key>
			<string>lingqijuanxian.png</string>
			<key>size</key>
			<string>{128,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>