<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_bangpai/ui_bangpai_huodong_hejiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,695},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_huodong_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,553},{20,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,22}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_zhongzhi_banggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,368},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_zhongzhi_paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,406},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_zhongzhi_renshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,444},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_zhongzhi_zhiwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,482},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_bianji.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,637},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_chakan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,699},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_chakan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,761},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,673},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_jingyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,759},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,286},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_lagan.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,553},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_yiyaoqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1},{100,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,47}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_yishenqing.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,103},{100,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,47}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_jinbijuanxian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,759},{125,87}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,88}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_jinbijuanxian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,639},{142,118}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,120}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_jinbijuanxian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,527},{174,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,166}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_weizhongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,789},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_banggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,793},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_bangpairenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,851},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_huweiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,851},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,865},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_shenshudengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,869},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_shenshuqifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,869},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_yizhongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,886},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_zhiwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,886},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_icon_bangpai_banggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,205},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_icon_bangpai_hunyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,328},{38,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_icon_bangpai_yingxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,520},{38,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_icon_bangpai_zijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,249},{48,35}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_juanxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,544},{77,91}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_lingdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,450},{77,92}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_shijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,783},{80,87}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_jingyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,927},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_xinxi_zijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_huoyue_jindu_zhezahao.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,527},{144,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,144}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_huoyuedu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,527},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_huoyuedu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,695},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_lingdi_fuben1.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1},{524,431}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{547,464}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_lingdi_fuben2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{536,447}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{547,464}</string>
			</dict>
			<key>res/UI/ui_bangpai/ui_bangpai_lingdi_huoyuedu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,450},{449,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,347}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_bangpaiPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_bangpaiPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>