<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_common_new2/btn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,878},{164,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,57}</string>
			</dict>
			<key>res/UI/ui_common_new2/btn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,591},{164,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,57}</string>
			</dict>
			<key>res/UI/ui_common_new2/btn_yijianduihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,782},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>res/UI/ui_common_new2/btn_yijianshengjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,639},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>res/UI/ui_common_new2/btn_yijianshengxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,730},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_commom_dikuang_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,591},{45,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,101}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,999},{13,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_diwen_youyeqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,799},{77,559}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,559}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_hecheng_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,364},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,779},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,487},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,487},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_jindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,102},{3,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,20}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_jingyantiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,951},{292,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,16}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_shangsheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,874},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_suipian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,745},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_xuetiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,951},{292,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,16}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_youyeqian_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,787},{83,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,105}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_zhuangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,878},{71,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,397}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_biaozhu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,968},{42,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,133}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,745},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,745},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,745},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_huoqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,761},{86,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,30}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_huoqu_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1},{99,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,6}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,267},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,533},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_xinxi_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,761},{161,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,34}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_keshengxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,796},{120,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,70}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_shuxing_hun.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,364},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_shuxing_wu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1144,364},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_suipianjindu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,925},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_suipianjindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,779},{79,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,16}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangzhuangbei_icon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,1},{396,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{396,324}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangzhuangbei_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,969},{344,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,47}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_biaoqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1212,968},{29,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,76}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_gouxuan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,364},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_huawen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,614},{121,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,131}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,364},{26,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,30}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_miaoshu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,903},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_zhuangbei_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeibeibao_zhuangbeitexiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1351,572},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_huo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,871},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,737},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_mu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,861},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_shui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,363},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_tu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,363},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_wupin_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1425,944},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_wuxing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{482,428}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,428}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_zhuangbei_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{482,428}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{482,428}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,363},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,579},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,455},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_icon_kuang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,547},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,399},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,399},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,1},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_kuang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,1},{182,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,264}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,572},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,740},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,737},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_dengji_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,737},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_common_new2/btn_yijianqianghua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,639},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>res/UI/ui_common_new2/btn_yijianshengceng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1735,821},{89,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,87}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kehecheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,872},{119,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,70}</string>
			</dict>
			<key>res/UI/ui_common_new/ui_common_tanchuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,364},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_common_new/ui_common_tanchuang_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,364},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_common_new/ui_common_tanchuang_diwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,591},{97,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,51}</string>
			</dict>
			<key>res/UI/ui_common_new/ui_common_tanchuang_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{622,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{622,50}</string>
			</dict>
			<key>res/UI/ui_common_new/ui_common_tanchuang_zhuangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,761},{154,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,16}</string>
			</dict>
			<key>res/UI/ui_common_new/ui_common_xing_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,364},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_suipianjindutiao-.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,779},{79,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,16}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_dashidacheng_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,650},{312,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,93}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_yangpizhi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,638},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_common_shuxing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,969},{239,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,32}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zi_saodangchenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,495},{315,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,94}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zi_jihuochenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,874},{321,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{321,92}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zi_shengjichenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,399},{319,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,94}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zi_shengxingchenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,267},{319,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,94}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zi_tupochenggong.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,267},{317,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,95}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_shenjiangbeibao_kapai_zhezhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,364},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_liangxian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,745},{49,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,75}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_liangxian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,797},{131,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,75}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_huixian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,745},{49,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,75}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_zhuangbeiyangcheng_huixian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,495},{131,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,75}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_boss_touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,665},{390,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,94}</string>
			</dict>
			<key>res/UI/ui_common_new2/ui_boss_xuetiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1003},{277,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,18}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_common_new2Plist.png</string>
			<key>realTextureFileName</key>
			<string>ui_common_new2Plist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>