<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_chouka/ui_chouka_juanzhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,600},{142,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,430}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_juanzhou_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,1},{460,368}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{460,368}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_juanzhou_di_shuimo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,596},{840,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{840,294}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_juanzhou_fengshenbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,173},{89,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,214}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_juanzhou_huawen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,310},{108,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,288}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_juanzhou_di_shuimo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,892},{740,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,120}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_xinxi_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,537},{249,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,74}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_zi_gongxihuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,892},{419,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{419,128}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_common_mingcheng_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,537},{86,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,297}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_gaojizhaomu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,173},{135,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_gaojizhaomu_yunwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,408},{142,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,28}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_xinxi_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{511,593}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{511,593}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_xinxi_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,1},{405,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,520}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_zhuangshi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,463},{439,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,72}</string>
			</dict>
			<key>res/UI/ui_chouka/ui_chouka_zhuangshi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{243,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_chouka.png</string>
			<key>realTextureFileName</key>
			<string>ui_chouka.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>