<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_fuli/ui_qiandao_lingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,653},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_qiandao_vip_jiasu.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,740},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_qiandao_yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,681},{100,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,47}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_btn_yueka.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,413},{191,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,72}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_baijin_jiangli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,824},{174,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,174}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_baijin_libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,448},{88,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1},{20,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,568}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_biaoqian_btn_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,901},{216,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,86}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_biaoqian_btn_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,1},{216,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,86}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,730},{70,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_denglong.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,413},{77,184}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,184}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1},{20,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,544}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_lixian_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,538},{20,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,362}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_taohua_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{292,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,154}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_taohua_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,219},{227,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,77}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_yunwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,571},{274,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,280}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,901},{186,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,108}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_dianpu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,902},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_dianpu_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1000},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_npc.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{306,458}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,458}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_shangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,448}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,599},{223,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,60}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,989},{20,590}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,590}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_yeqian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,538},{44,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,132}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_yeqian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,606},{44,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,132}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chengzhangjijin_zahuopu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{324,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,448}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_qirichongzhi_baoxiang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1000},{40,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,20}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_qirichongzhi_jiangli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,295},{20,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,16}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_qirichongzhi_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,606},{29,45}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,46}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_fuli_icon_bg_jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,295},{116,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,133}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_fuliPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_fuliPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>