<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,231},{160,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,58}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_hudie_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,637},{144,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,232}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_hudie_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,418},{134,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,206}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_hudie_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,871},{130,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,104}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_qiri_yeqian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,393},{242,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,96}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_yueliang.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,624},{450,301}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,302}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_yun.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{373,92}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,92}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_qirichongzhi_baoxiang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{40,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,20}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_fuli_shenjiangqizhe_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,418},{204,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,332}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_fuli_shenjiangqizhe_henglan.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1003},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_chongzhi_jiangli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,376},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chongzhi_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{512,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,277}</string>
			</dict>
			<key>res/UI/ui_fanpai/ui_fanpai_bg_guangxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,937},{860,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{860,64}</string>
			</dict>
			<key>res/UI/ui_fanpai/ui_fanpai_fanmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,423},{124,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,164}</string>
			</dict>
			<key>res/UI/ui_fanpai/ui_fanpai_texiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{406,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,420}</string>
			</dict>
			<key>res/UI/ui_fanpai/ui_fanpai_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1},{228,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,54}</string>
			</dict>
			<key>res/UI/ui_fanpai/ui_fanpai_zhengmian.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,625},{124,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,164}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_huodong.png</string>
			<key>realTextureFileName</key>
			<string>ui_huodong.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>