<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_huishou/ui_common_zhuangbei_zengjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,380},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_huishou/ui_huishou_jianying_juese.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{288,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,377}</string>
			</dict>
			<key>res/UI/ui_huishou/ui_huishou_jianying_zhuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{222,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,178}</string>
			</dict>
			<key>res/UI/ui_huishou/ui_huishou_zchongsheng_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{470,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{470,476}</string>
			</dict>
			<key>res/UI/ui_huishou/ui_huishou_zhuangbei_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,380},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_huishou.png</string>
			<key>realTextureFileName</key>
			<string>ui_huishou.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>