<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_huodong/ui_icon_yaoshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,51},{48,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,1},{142,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,230}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,291},{142,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,230}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_choujiang_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,786},{218,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,106}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,435},{286,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,53}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_waiquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{298,596}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,596}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_xinxilan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,901},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_xinxilan_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,545},{68,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,34}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_xinxilan_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,901},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zhuanpan_zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1},{42,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,96}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_icon_wuseshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,51},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_chongzhi_zi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{473,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{473,98}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_huoyuejijin_jiulou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{324,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,448}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_huoyuejijin_xiaoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1},{324,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,448}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_huoyuejijin_xiaoxiang_yeqian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,490},{44,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,132}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_huoyuejijin_xiaoxiang_yeqian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,184},{44,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,132}</string>
			</dict>
			<key>res/UI/ui_fuli/ui_txt_huoyuejijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,123},{223,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{223,59}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_qiri_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1091,228},{218,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,59}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_qiri_title_texiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,924},{364,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,99}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_qiri_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,901},{308,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,105}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_qiri_xinxi_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,184},{110,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,42}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zaixianjiangli_jindudian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,545},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zaixianjiangli_jindudian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,545},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_food_gaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1},{308,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,176}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_food_ji.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,311},{245,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,129}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_food_kaorou.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,442},{239,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,101}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_food_yingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,901},{199,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,21}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_food_yu.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,545},{239,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,142}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_chiji_zhuozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,584},{370,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,219}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_foog_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,233},{284,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,56}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_huodong_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,1},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_zi_xiangyonglingdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,451},{372,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,131}</string>
			</dict>
			<key>res/UI/ui_huodong/ui_qiri_biaoyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,805},{453,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_huodong2.png</string>
			<key>realTextureFileName</key>
			<string>ui_huodong2.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>