<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_2103.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,156},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_2104.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,159},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3005.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,308},{66,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3006.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,373},{60,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3011.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,236},{74,73}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,378},{69,53}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158},{74,78}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3022.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,435},{60,58}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3026.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,435},{60,58}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{55,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,234},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_3503.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,376},{60,58}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_556.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,436},{58,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_560.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_700.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,81},{78,73}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_701.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{65,75}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_702.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,81},{76,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_703.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{78,75}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_2384.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,233},{73,75}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_559.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>res/UI/Icon/ui_huobi_icon/huobi_10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,311},{60,64}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_huobi.png</string>
			<key>realTextureFileName</key>
			<string>ui_huobi.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>