<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_hecheng/ui_hecheng_jiahao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1982,1243},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_hecheng_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,647},{30,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,46}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_hecheng_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1993,819},{64,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,54}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_hecheng_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1995,317},{328,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{328,10}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_huawen_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,351},{378,347}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,348}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_jineng_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,885},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_jineng_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1138},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_jineng_yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{490,482}</string>
			</dict>
			<key>res/UI/ui_juese/ui_equip_kaijia_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,954},{73,75}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,1193},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1894,1383},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1635,648},{47,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,648},{47,50}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1996,1429},{47,49}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,833},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,700},{300,295}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,362},{170,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,82}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_yifu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,1169},{66,62}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_jingyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,1},{346,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{346,18}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_shuju_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,1248},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_xuetiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,1},{346,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{346,18}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_xuetiao_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,611},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_zhanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1685,1031},{70,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_juese_icon_shijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,971},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_juese_icon_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1694,1237},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1996,1478},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_zhuzhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,873},{79,67}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_shuxing_fa.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,1482},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_shuxing_wu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1484},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_xitong_lagan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1433},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_ziji_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,1248},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_qianghua_pinzhi_ji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,1259},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_hecheng/ui_hecheng_jianhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,1305},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_juese/ui_jineng_kuang_xuanzhong_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,833},{101,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_shuxing_fu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1927,1522},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_shuxing_kong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1860,1523},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_shuxing_ling.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,1524},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_shuxing_rou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1526},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_zudui/ui_duiwuButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,486},{44,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_yuan_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,593},{70,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,20}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_icon_bishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1168},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_icon_mobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1208},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_juese/ui_jineng_kuang_xuanzhong_mask_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1955,1057},{83,83}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_btn_zhuangtai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,1310},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_btn_zhuangtai_jiesuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,1128},{36,51}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_btn_zhuangtai_shenjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,1481},{40,45}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_btn_zhuangtai_suoding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,648},{36,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_btn_zhuangtai_zhenrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,820},{51,38}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_hushou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1923,1142},{56,67}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_jiezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,759},{59,40}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_shoes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1372},{58,62}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_wanjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,362},{63,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_wuqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1186},{61,60}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_xianglian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1684,1102},{65,68}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_yaodai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,805},{64,41}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>res/UI/ui_zudui/ui_zudui_duizhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,1310},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_zudui/ui_zudui_huoban.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,1321},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_toukui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,1200},{57,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>res/UI/ui_zudui/ui_zudui_lixian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,1367},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_zudui/ui_zudui_zanli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1372},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_duanzao/ui_duanzao_jiahao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1526},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_juese/ui_duanzao_shan.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,367},{383,108}}</string>
				<key>offset</key>
				<string>{-5,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,169}</string>
			</dict>
			<key>res/UI/ui_juese/res_UI_ui_juese_ui_juese_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1466,1337},{300,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,295}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_fangyuzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1724,349},{346,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{346,18}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_zhili.png</key>
			<dict>
				<key>frame</key>
				<string>{{1744,349},{346,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{346,18}</string>
			</dict>
			<key>res/UI/ui_juese/ui_loading_biaoqian_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,443},{108,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,38}</string>
			</dict>
			<key>res/UI/ui_juese/ui_boss_touxiangkuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,534},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>res/UI/ui_juese/ui_xuetiao_boss_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,367},{440,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,20}</string>
			</dict>
			<key>res/UI/ui_juese/ui_xuetiao_boss_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1317,700},{440,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,20}</string>
			</dict>
			<key>res/UI/ui_juese/ui_xuetiao_boss_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,700},{440,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,20}</string>
			</dict>
			<key>res/UI/ui_juese/ui_xuetiao_boss_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,962},{440,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,20}</string>
			</dict>
			<key>res/UI/ui_juese/ui_xuetiao_boss_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,1},{440,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,20}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_icon_jianjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{1853,1128},{68,56}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1432},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,1142},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1434},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_juese/ui_fenxiang_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,1429},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>res/UI/ui_shenjiang/ui_kapai_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1760,871},{193,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{193,255}</string>
			</dict>
			<key>res/UI/ui_shenjiang/ui_kapai_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,317},{211,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,274}</string>
			</dict>
			<key>res/UI/ui_shenjiang/ui_qianghua_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,367},{354,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,325}</string>
			</dict>
			<key>res/UI/ui_shenjiang/ui_shenjiang_juese_bg_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1768,1},{314,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,252}</string>
			</dict>
			<key>res/UI/ui_juese/ui_common_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1},{1334,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,112}</string>
			</dict>
			<key>res/UI/ui_juese/ui_common_fenlei_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,700},{427,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{427,32}</string>
			</dict>
			<key>res/UI/ui_juese/ui_common_icon_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1807,1128},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,44}</string>
			</dict>
			<key>res/UI/ui_juese/ui_common_jingyantiao_jindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,351},{3,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,20}</string>
			</dict>
			<key>res/UI/ui_juese/ui_common_jingyantiao_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,317},{292,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,16}</string>
			</dict>
			<key>res/UI/ui_juese/ui_common_leixing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,1169},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>res/UI/ui_juese/ui_icon_chazhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1564},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangtujian_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1238},{85,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,109}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangtujian_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{364,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{364,490}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangtujian_btn_tujianzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,697},{134,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,135}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangtujian_jindu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2003,697},{120,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,44}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_juese_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1},{482,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{482,348}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_juese_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,674},{286,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,96}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_juesexinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1},{359,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,139}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_shenjiang_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,635},{40,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_shenjiang_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,697},{40,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_xinxi_diwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1950,694},{109,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,51}</string>
			</dict>
			<key>res/UI/ui_juese/ui_zhenrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,936},{100,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,99}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shenjiangyangcheng_zhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1479},{41,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,46}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juesexinxi_zhanli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2007,553},{80,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,32}</string>
			</dict>
			<key>res/UI/ui_juese/ui_shengji_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1764,593},{275,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,184}</string>
			</dict>
			<key>res/UI/ui_juese/ui_zi_gongxishengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,351},{321,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,93}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1037},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>res/UI/ui_juese/ui_juese_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,962},{280,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,81}</string>
			</dict>
			<key>res/UI/ui_juese/ui_main_jiao_touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,427},{57,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_juesePlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_juesePlist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>