<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_jingji/ui_jingji_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{477,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,193}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_qi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,348},{130,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,235}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_qi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,480},{130,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,235}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_qi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,299},{102,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,226}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_qi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,299},{91,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,213}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_qi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,403},{91,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,196}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_taizi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{320,146}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_taizi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,196},{282,150}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_taizi3.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1},{305,147}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_taizi4.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,149},{286,148}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
			<key>res/UI/ui_jingji/ui_jingji_taizi5.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,196},{286,147}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_jingjiPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_jingjiPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>