<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_creat/ui_juesexuanze_zhiye_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,1},{108,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,356}</string>
			</dict>
			<key>res/UI/ui_creat/ui_xuanjue_mingzi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,854},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_creat/ui_xuanzejuese_shaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,280},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>res/UI/ui_creat/ui_zhiye_common.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,784},{96,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_creat/ui_zhiye_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,544},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_login/ui_bg_huawen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,270},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_login/ui_denglu_mingzi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,886},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_login/ui_fuwuqi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,708},{654,289}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{654,290}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_back_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,189},{79,62}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_biaoshi_baoman.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,918},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_biaoshi_liuchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,698},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_biaoshi_weihu.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,726},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_biaoshi_yongji.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,754},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_btn_bangdingshouji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,882},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_btn_fenxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,784},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_btn_fuwuqi_common.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,332},{210,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,68}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_btn_fuwuqi_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,544},{210,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,68}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_btn_mimaxiugai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,642},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_fuwuqi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{654,289}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{654,290}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_fuwuqi_tanchuang_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,656},{36,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_fuwuqi_xinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,614},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_fuwuqi_xinxi_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,656},{40,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_juanzhou_bian.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,657},{39,608}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,608}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_juanzhou_huawen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,999},{838,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{838,20}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_shuxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,698},{5,179}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{5,180}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_tanchuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,656},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_severlist/ui_tanchuang_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,614},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_login/ui_back_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,1},{186,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,55}</string>
			</dict>
			<key>res/UI/ui_login/ui_qu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,938},{588,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{588,62}</string>
			</dict>
			<key>res/UI/ui_login/ui_fuwuqi_jinruyouxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,698},{154,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,154}</string>
			</dict>
			<key>res/UI/ui_login/ui_denglu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1922,1},{60,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,277}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,946},{61,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,50}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_dipan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,1},{319,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{319,105}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,698},{614,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{614,238}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_hudie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,1},{83,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,78}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,544},{118,113}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,142}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_nv.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,664},{118,113}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,142}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_touzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,81},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_nan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,854},{150,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,142}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_nv_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,544},{150,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,142}</string>
			</dict>
			<key>res/UI/ui_login/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{705,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{705,398}</string>
			</dict>
			<key>res/UI/ui_login/ui_chuangjue_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,614},{40,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_loginPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_loginPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>