<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_bangpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,195},{100,94}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_baoguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,564},{85,95}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_chouka.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,928},{82,93}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_duanzao.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,813},{81,91}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_duiwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,747},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_fuben.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,749},{94,84}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_guaji.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,928},{81,94}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_huodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,383},{98,89}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,813},{80,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_jineng.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,813},{80,90}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_jingji.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,817},{84,89}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_kunlunshan.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1},{100,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_liaotian.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,747},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,808},{77,83}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,562},{89,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_quxiaoguaji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,941},{81,95}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_quxiaohusong.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,743},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,847},{79,97}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,1},{100,96}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shenjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{98,99}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shenqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,386},{91,91}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,661},{80,92}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_tisheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,743},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,743},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_waiguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,653},{88,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,196},{99,94}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_youjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,743},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_yueka.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,763},{82,94}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_yuyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,921},{82,92}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_zidonghusong.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,733},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_zuoqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,651},{80,90}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_cichong.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,661},{84,95}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shouchong.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,389},{93,97}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_zhekou.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,661},{80,93}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,651},{80,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,565},{80,90}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_beibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,895},{77,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,84}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_mubiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,688},{85,92}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_genghuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,908},{82,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,817},{82,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_chengzhangjijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,1},{100,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_kaifuhuodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,292},{100,89}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_chenghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,387},{95,90}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_doushenzhilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{100,98}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_doushenzhilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,398},{88,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_wanfa_bangpaihuodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,196},{100,94}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_wanfa_bangpaishangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,196},{99,94}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_wanfa_shenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,99},{99,95}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_songli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,482},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang01.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,479},{89,92}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang02.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,586},{88,91}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,659},{88,91}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang04.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,495},{89,92}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang05.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,570},{89,91}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,895},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,896},{80,92}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shanghaibang.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,473},{89,92}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_shenjiangzhekou.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,98},{100,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_zhekoulibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,99},{99,95}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_paihang06.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,479},{89,92}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_kuafubang.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,570},{89,90}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_kuafu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,198},{99,93}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_kuafu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,198},{99,93}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_jingjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,824},{80,95}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_huanlezhuanpan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,100},{99,100}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_wanfa_bangpailiebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{104,97}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_lianqige.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,293},{100,91}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_denglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,474},{91,89}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_guoqingjizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,99},{100,95}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_guoqingsongli.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,292},{100,90}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_huoyuejijin.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{100,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_fengshenshilian.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,102},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_youlisanjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,845},{94,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,82}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_choukajiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,821},{88,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,85}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_choukarukou.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,901},{91,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,82}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_jianghunshangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,911},{85,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,88}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_tujianshuxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,479},{86,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,82}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_wujiangzhenrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,384},{100,87}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_yingyongshangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,676},{85,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,93}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_zhuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,201},{98,93}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_zhuangbeichushou.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,647},{77,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,82}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_zhuangbeihuishou.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,733},{93,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,73}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_baoguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,475},{85,97}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_chuandai.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,386},{97,87}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_fabao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,296},{100,91}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_haoyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,782},{37,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,33}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_huishou.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,782},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,782},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,291},{99,94}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_youjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,474},{38,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,26}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_huizongshangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,296},{100,91}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_bangpailiebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,101},{100,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_bangpaishangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,484},{100,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_chengyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,101},{97,97}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_jingjishangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,574},{100,83}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,388},{94,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_shijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,565},{86,84}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_youjian.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1},{100,96}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_jingjichang_icon_jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,102},{97,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_jingjichang_icon_paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,296},{100,91}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_fengshenliezhuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,294},{99,90}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_juezhankunlun.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,199},{96,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_wanfashangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,200},{100,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_xuezhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,389},{100,91}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_xunbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,586},{80,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_zhanji.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,102},{97,95}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_icon_zhuangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,293},{98,93}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_main_zaixianjiangli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1},{100,99}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_qirihuodong.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,292},{92,96}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_bangpai_icon_jineng.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,386},{95,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_zhujue.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1},{96,100}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/Icon/ui_main_icon/ui_icon_guizu.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,199},{96,95}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_main_iconPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_main_iconPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>