<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_shop/ui_jingji_jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,923},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shop_meihua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,587},{142,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,88}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shop_npc.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{420,487}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{420,487}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shop_npc_duihuakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,617},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shop_title_zhuangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,966},{340,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,57}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shop_biaoqian_shouwan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,617},{94,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,80}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shop_wenhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,981},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_button_01_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,948},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_button_01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_button_02_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,207},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_button_02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,381},{204,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,72}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_mingcheng_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,981},{210,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,36}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,993},{60,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,20}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_title_zhekou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,712},{140,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,74}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_wupin_bg_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,712},{234,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,142}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhekou_wupin_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,237},{234,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,142}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhizun_tubiao_yueka.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,712},{125,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,137}</string>
			</dict>
			<key>res/UI/ui_shop/ui_chongzhi_bg_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,617},{50,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,210}</string>
			</dict>
			<key>res/UI/ui_shop/ui_common_liebiao_dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,856},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>res/UI/ui_shop/ui_guizuquanyi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1739,617},{47,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,145}</string>
			</dict>
			<key>res/UI/ui_shop/ui_jianghunshangdian_miaoshu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,980},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_shop/ui_npc_jianghunshangdian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,612},{397,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{397,461}</string>
			</dict>
			<key>res/UI/ui_shop/ui_quanyi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1429,712},{234,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,306}</string>
			</dict>
			<key>res/UI/ui_shop/ui_quanyi_miaoshu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,934},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>res/UI/ui_shop/ui_quanyi_tishi_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,980},{33,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_biaoti_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,993},{80,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_geduan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1011},{12,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,482}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_jianbian.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,981},{10,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,240}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_kuangjia.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,712},{167,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,518}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_neirong_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,981},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_paibian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,856},{295,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{295,76}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_wuyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,881},{666,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,98}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_yeqian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,993},{30,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,60}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_yeqian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,993},{30,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,60}</string>
			</dict>
			<key>res/UI/ui_shop/ui_shangcheng_yeqian_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,980},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_shop/ui_vip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,697},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhizun_bg_guangxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,413},{220,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,202}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhizun_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,981},{100,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,35}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhizun_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,612},{965,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{965,98}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhizun_yeqian_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,934},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zhizun_yeqian_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,934},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zuolan_yeqian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,815},{105,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,104}</string>
			</dict>
			<key>res/UI/ui_shop/ui_zuolan_yeqian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,815},{105,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,106}</string>
			</dict>
			<key>res/UI/ui_shop/ui_chongzhi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1818,1},{234,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,210}</string>
			</dict>
			<key>res/UI/ui_tuitu/npc_chengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{512,609}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,609}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_shopPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_shopPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>