<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_tuitu/ui_duihua_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,2002},{43,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,41}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_duihua_btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,2002},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_duihua_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2002},{237,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,45}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_guanqia_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,1},{230,606}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,606}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_guanqia_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,2002},{39,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,92}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,1219},{777,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{777,435}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun2.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1528},{514,298}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{514,298}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1169},{510,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{510,452}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,702},{760,413}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{760,413}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun5.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1},{809,699}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{809,699}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1169},{569,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{569,357}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{996,657}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{996,657}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_loading_yun8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1681},{807,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{807,259}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_baoxiang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,2002},{48,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,40}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_biaoti_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,609},{1334,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1334,55}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_biaoti_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1945},{1119,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1119,55}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_box1_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1703,1056},{116,105}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,130}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_box1_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,660},{134,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,130}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_box2_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1828},{116,105}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,130}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_box2_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1528},{134,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,130}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_box3_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,1828},{116,105}}</string>
				<key>offset</key>
				<string>{-9,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,130}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_box3_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1528},{134,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,130}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_btn_buzhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1945},{96,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,79}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_btn_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,2002},{38,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,23}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_btn_zhuxianchengjiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,1945},{82,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,98}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_icon_baoxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,2002},{41,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,32}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_icon_suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,2002},{33,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,41}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_jingyantiao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,2025},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_star_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1970,1945},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_tongguan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,2027},{45,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,18}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_touxiangkuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1945},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_wanmei_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,2002},{45,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,18}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_xialakuang_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,2002},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_tuitu_zhangjiemingzi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,2022},{30,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,25}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhangjietongguan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1810,609},{608,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{608,172}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_common_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1117},{1082,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1082,50}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_common_yitongguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,2002},{159,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,39}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_common_shengzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,2036},{8,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,33}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_guangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,1945},{142,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,57}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,2022},{21,21}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,2002},{21,21}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,2025},{21,21}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,24}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_num_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,2002},{21,21}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,22}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_num_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,2025},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_zhenrong_num_ke.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,2002},{21,21}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_chengjiujiangli_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1056},{616,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{616,113}</string>
			</dict>
			<key>res/UI/ui_tuitu/ui_qiri_jiangli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,792},{1012,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1012,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_tuitu.png</string>
			<key>realTextureFileName</key>
			<string>ui_tuitu.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>