<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_vip/ui_chongzhi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{234,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,206}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_biaoqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,535},{98,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,84}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,944},{102,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,64}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,809},{133,82}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,82}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,809},{150,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,88}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,681},{126,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,121}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,101},{172,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,142}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,101},{174,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,148}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,101},{174,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,166}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,339},{194,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,174}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_zengsong.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,681},{92,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,96}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,779},{84,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,92}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,733},{43,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,305},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,873},{47,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,635},{44,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,635},{44,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,873},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,681},{44,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,339},{41,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,48}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,924},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_vip_num_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,976},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{234,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,206}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_ka_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,575},{234,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{234,206}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_ka_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,811},{234,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,206}</string>
			</dict>
			<key>res/UI/ui_vip/ui_zhizun_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1},{30,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,336}</string>
			</dict>
			<key>res/UI/ui_vip/ui_zhizun_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,277},{26,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,206}</string>
			</dict>
			<key>res/UI/ui_vip/ui_zhizun_shuju_btn_common.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,961},{148,35}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,38}</string>
			</dict>
			<key>res/UI/ui_vip/ui_zhizun_shuju_btn_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,277},{148,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,38}</string>
			</dict>
			<key>res/UI/ui_vip/ui_zhizun_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{976,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{976,98}</string>
			</dict>
			<key>res/UI/ui_vip/ui_zhizun_qipao.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,431},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>res/UI/ui_vip/Vip_Logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,389},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_vip/ui_chongzhi_icon_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,535},{135,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,146}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_vipPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_vipPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>