<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_wanfa/ui_doushenzhilu_mubiao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_doushenzhilu_mubiao_xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,809},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_doushenzhilu_mubiao_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,119},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_changci_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1},{164,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_changci_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,167},{164,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_changci_bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,1},{164,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,48}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_name_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,876},{160,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,44}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_name_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,167},{160,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,44}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_name_bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,167},{160,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,44}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_bisai_touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,666},{116,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,112}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_duizhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,733},{272,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,272}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_duizhen_xian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,784},{90,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,40}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_duizhen_xian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,784},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_duizhen_xian_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,333},{82,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,142}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_duizhen_xian_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,995},{20,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,4}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_juese_texiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{364,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,364}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_texiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,446},{218,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,229},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_shangbanchangguanjun.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,937},{210,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,50}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_xiabanchangguanjun.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,733},{210,49}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,50}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_baoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,237},{116,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,94}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_baoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,237},{116,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,94}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_baoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,333},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,94}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_baoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,237},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,94}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_baoxiang5.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,333},{116,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,94}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,332},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,429},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,543},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,666},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,780},{111,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,666},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wenzi_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,780},{112,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,45}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_biaoqian_yishengchu.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,827},{100,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,47}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_wufaxiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,922},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_xiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,167},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_yixiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,333},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_biaoqian_yixiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,876},{100,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,47}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_biaoqian_sheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,343},{69,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,893},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_shuaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,925},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_weiwoduxian_jiangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{178,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,164}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_jianbian_tianyuanzhengba_bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,989},{484,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{484,4}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_jianbian_tianyuanzhengba_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,995},{244,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,4}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_tianyuanzhengba_vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,988},{48,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,30}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_icon_wanfa_juesaiguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,237},{105,94}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_icon_wanfa_shangjieduizhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,428},{105,94}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_icon_wanfa_yusaiguize.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,535},{105,94}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fabao_cailiao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,809},{118,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,157}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fabao_fazhen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{440,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,440}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fabao_icon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,443},{288,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,288}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_wanfa2.png</string>
			<key>realTextureFileName</key>
			<string>ui_wanfa2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>