<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_wanfa/ui_icon_yulou_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,411},{81,66}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_icon_yulou_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,411},{81,66}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_icon_shaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,1},{123,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,141}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_biaoti_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,502},{100,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,6}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_dizuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,518},{422,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,182}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1},{474,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{474,80}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_xinxi_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,502},{100,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,14}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_lilianta_ta.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,767},{454,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,250}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_lilianta_ta_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,767},{454,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,250}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_lilianta_yeqian_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,961},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_lilianta_yeqian_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,961},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_lilianta_yun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,525},{502,240}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{510,240}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_lilianta_yun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{522,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{522,266}</string>
			</dict>
			<key>res/UI/Icon/ui_jingjie_icon/ui_jingjie_icon_jingjie_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,83},{109,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/Icon/ui_jingjie_icon/ui_jingjie_icon_jingjie_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,126},{109,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/Icon/ui_jingjie_icon/ui_jingjie_icon_jingjie_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,195},{109,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/Icon/ui_jingjie_icon/ui_jingjie_icon_jingjie_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,199},{109,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/Icon/ui_jingjie_icon/ui_jingjie_icon_jingjie_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,307},{109,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/Icon/ui_jingjie_icon/ui_jingjie_icon_jingjie_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,83},{109,110}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,690},{91,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,113}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,901},{79,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,38}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,805},{91,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,113}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_arrpw.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,913},{45,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,60}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_first.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,961},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_lingqu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{450,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,230}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_nandu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1601,691},{266,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,344}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_nandu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,1},{266,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,344}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_nandu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{266,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,344}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_paihang_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,702},{738,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{738,43}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_paimingxinxi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1974,554},{90,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,70}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_paimingxinxi_guangxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,347},{518,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,102}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_paimingxinxi_zhuangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,492},{23,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,105}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_pingtai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,643},{96,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,51}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_qieye_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,643},{48,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,149}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_qieye_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,643},{48,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,149}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_qieye_shuxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1019},{2,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{2,36}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_qieye_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,643},{88,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,43}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_qieyezhuangshi_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,913},{38,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,67}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_qieyezhuangshi_ding.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,961},{30,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,42}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_second.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,961},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_shuxing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,269},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_shuxing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,269},{140,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,139}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_shuxing_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,696},{263,354}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,354}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_third.png</key>
			<dict>
				<key>frame</key>
				<string>{{1438,961},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,412},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_zhenrong_bg_hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,961},{261,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,60}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_zhenrong_bg_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1176,747},{261,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{261,60}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_zi_lingjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,1},{409,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{409,130}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_zi_shuxingxuanze.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,492},{419,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{419,128}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_common_yiwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1475,961},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_shilian_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,269},{106,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,102}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_nandu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1947,920},{97,97}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_nandu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,377},{97,97}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_nandu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{97,97}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_nandu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,100},{97,97}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_nandu_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,237},{97,97}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshenshilian_nandu_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,195},{97,97}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_jiangli_wupin_diwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,747},{164,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,159}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshen_juanzhou.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,517},{124,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,541}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshen_juanzhou_bian.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,453},{1236,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1236,37}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshen_juanzhou_shuqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1518,622},{67,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,303}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_fengshen_juanzhou_yunwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,747},{152,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,88}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_kunlun_chuangguan_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,643},{38,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,97}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_kunlun_juese_diwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,622},{149,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,66}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_kunlun_lujing_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,492},{8,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,304}</string>
			</dict>
			<key>res/UI/ui_wanfa/ui_kunlun_lujing_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,492},{24,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,304}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_wanfaPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_wanfaPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>