<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_xingongneng/ui_shengji_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,595},{456,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,224}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_xinshouyindao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,925},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_xinshouyindao_dianji.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,179},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_xingongneng_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1},{176,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,176}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_xingongneng_guang.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,595},{292,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,292}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_xingongneng_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,889},{496,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,84}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_xingongneng_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1},{196,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,54}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_chongzhi_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{410,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,98}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_shouchong_close_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,199},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_shouchong_close_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,271},{70,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,78}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_shouchong_landian.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,967},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_shouchong_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,477},{289,77}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,78}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_wenzi_jinengjiesuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,975},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_shibai_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,821},{456,102}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{456,224}</string>
			</dict>
			<key>res/UI/ui_xingongneng/ui_texiao_fangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_shouchong_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{582,592}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{582,592}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_chongzhi_zi_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,199},{374,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,94}</string>
			</dict>
			<key>res/UI/ui_shouchong/ui_cichong_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,179},{296,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{296,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_xingongnengPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_xingongnengPlist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>