<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/UI/ui_zhandou/ui_zhandou_nu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{40,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,34}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_zidong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,807},{98,95}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_zhandou/BattleReadyText.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,917},{120,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,38}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,807},{100,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_shoudongzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,984},{192,29}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,30}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_taopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,401},{85,93}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_zidongzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,978},{189,29}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,30}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_quan.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,807},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_quxiaozidong_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,956},{65,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_quxiaozidong_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,956},{65,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_taopao_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,954},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_taopao_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,389},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_zidongzhandou_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,437},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_zidongzhandou_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,437},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/UI/ui_zhandou/assimilate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,907},{80,45}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,62}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,94},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_fuhuoquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,912},{48,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,33}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_guangxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1},{434,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{434,231}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_huobi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,94},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_jiangexian.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,960},{176,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,16}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,1},{384,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,293}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_shengli_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{477,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,507}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{386,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{386,300}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_shibai_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,510},{424,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{424,507}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_wansheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,485},{388,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,293}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1019},{20,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,2}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_xiansheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,1},{398,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,293}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_jiesuan_xing.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,807},{103,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,100}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,510},{640,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,295}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_btn_jiasu.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,389},{82,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,73}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_btn_shousuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,437},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_btn_taopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,389},{82,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,73}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_btn_tiaoguo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,401},{82,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,73}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_huiheshu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,957},{134,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,55}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_icon_huiheshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,70},{22,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,35}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_btn_shousuo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,437},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_btn_shousuo_jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,37},{31,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,37}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_huihe.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,912},{59,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,34}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandou_huihe_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,909},{100,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,45}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandoujiesuan_baoxiang_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,807},{175,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,157}</string>
			</dict>
			<key>res/UI/ui_zhandou/ui_zhandoujiesuan_baoxiang_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,807},{151,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,157}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui_zhandouPlist.png</string>
			<key>realTextureFileName</key>
			<string>ui_zhandouPlist.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>